<div class="row">
    <div class="col-md-12">
        <h2>{{student.firstName}} {{ student.lastName}} - Student: {{ student.studentID}}</h2>
        <hr />
        <form method="post" action="/student/update">
             <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="Rianon" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="last_name" name="lastName" type="text" value="Causnett" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text" value="rcausnett0@aboutads.info" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input class="form-control" id="phone" name="phone" type="tel" value="(215) 4038866" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="5860 Dixon Terrace" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="addressCity">Address (City):</label>
                        <input class="form-control" id="addressCity" name="addressCity" type="text" value="Philadelphia" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="PA" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="19146" />
                        </div>
                    </div>
                </div>


            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status:</label><br />
                            <label  class="checkbox-inline">
                                <input type="radio" id="statusFT" name="status" checked value="Full Time" /> Full Time
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="statusPT" name="status"  value="Part Time" /> Part Time
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="program">Program</label>
                                <select class="form-control" name="program" id="program">
                                    <option value="ACF" >ACF - Accounting and Finance</option>
                                    <option value="AVO" >AVO - Aviation Operations</option>
                                    <option value="DAN" >DAN - 3D Animation</option>
                                    <option value="CPP" >CPP - Computer Programming</option>
                                    <option value="CPA" >CPA - Computer Programming and Analysis</option>
                                    <option value="CTY" >CTY - Computer Systems Technology</option>
                                    <option value="CSN" >CSN - Computer Systems Technician</option>
                                    <option value="BSD" selected>BSD - Software Development (Honours Bachelor of Technology)</option>
                                    <option value="IFS" >IFS - Informatics and Security(Honours Bachelor of Technology)</option>
                                    <option value="DAS" >DAS - Data Science and Analytics program (Honours Bachelor of Technology)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isInternationalStudent">International Student?</label>
                            <input class="form-control" type="checkbox" id="isInternationalStudent" name="isInternationalStudent"  />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="expectedCredential">Expected Credential:</label>
                            <input class="form-control" id="expectedCredential" name="expectedCredential" type="text" value="Certificate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="registrationDate">Registration Date</label>
                            <input class="form-control" id="registrationDate" name="registrationDate" type="text" value="8/20/2021" readonly />
                        </div>
                    </div>
                </div>
            </fieldset>

            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Student" /><br /><br /><br />

        </form>